html {
    scroll-behavior: smooth;
}

.top-logo{
    text-align: center;
    padding-top: 20px;
}

.top-logo img{
    width: 100px;
    cursor: pointer;
}

.menu {
    text-align: center;
    margin-top: 10px;
}

.menu a {
    margin: 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

.section {
    padding: 100px 20px;
    border-top: 1px solid #ddd;
}
